.icky-green-background {
    background-color: #216668;
    background: -webkit-linear-gradient(#216668, #1E8184);
}

ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: middle;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.lead {
    color: #999;
    font-size: 14px;
}

.title {
  font-weight: 200;
    line-height: 1.1;
    color: #138185;
    -webkit-font-smoothing: subpixel-antialiased;
}

.page-header {
    margin-top: 0px;
}

.img-circle {
    width: 100px;
}

.info {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    text-align: center;
    border: 1px solid #dddff1;
    margin: 0 auto;
}
