{% include header.html %}
<div class="row">
  <div class="col-md-8">{{ content }}
    <p>By <a href="https://twitter.com/philowest">@philowest</a>
      <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet">
      Tweet</a>

    </p>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Posts</h3></div>
      <div class="panel-body">
        <ul>
          {% for post in site.posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a>
            ({{ post.date | date_to_string}})</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
